.table {
	width: 50%;
	border: none;
	margin-bottom: 20px;
	border-collapse: separate;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}
.table thead th {
	font-weight: bold;
	text-align: left;
	border: none;
	padding: 10px 15px;
	background: #4b4c4d;
  color: #ddd;
	font-size: 16px;
	border-top: 1px solid #ddd;
}
.table tr th:first-child, .table tr td:first-child {
	border-left: 1px solid #4b4c4d;
}
.table tr th:last-child, .table tr td:last-child {
	border-right: 1px solid #4b4c4d;
}
.table thead tr th:first-child {
	border-radius: 20px 0 0 0;
}
.table thead tr th:last-child {
	border-radius: 0 20px 0 0;
}
.table tbody td {
	text-align: left;
	border: none;
	padding: 10px 15px;
	font-size: 16px;
	vertical-align: top;
}
.table tbody tr:nth-child(even) {
	background: #e0e2df;
}
.table tbody tr:last-child td{
	border-bottom: 1px solid #994242;
}
.table tbody tr:last-child td:first-child {
	border-radius: 0 0 0 20px;
}
.table tbody tr:last-child td:last-child {
	border-radius: 0 0 20px 0;
}



.footer-div {
  height: 4.4rem;
  background-color: #4b4c4d;
  padding-right: 1.6rem;
  display: grid;
  align-items: center;
  text-align: right;
  border-radius: 20px;
}

.toolbar {
  height: 4.4rem;
  background-color: #4b4c4d;
  padding-left: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  border-radius: 20px;
}

.toolbar-text {
  color: #e9e3e3;  
  font-size: 1.7rem;
}

.footer {
  padding: 30px;
}

.footer-text {
  color: #e9e3e3;  
}

.btn {
  background-color: #4b4c4d; /* цвет фона */
  border: none; /* убираем границу */
  color: white; /* цвет текста */
  padding: 8px 15px; /* отступы внутри кнопки */
  text-align: center; /* выравнивание текста по центру */
  text-decoration: none; /* убираем подчеркивание */
  display: inline-block; /* устанавливаем блочный элемент */
  font-size: 16px; /* размер шрифта */
  margin: 10px 2px; /* отступы вокруг кнопки */
  cursor: pointer; /* курсор при наведении на кнопку */
  border-radius: 20px; /* радиус границы */
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2); /* тень кнопки */
}

.btn:hover {
  background-color: #3c98ee; /* цвет фона при наведении */
}

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #4b4c4d;
  border-radius: 16px;
  width: 58px;
  height: 32px;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  width: 24px;
  height: 24px;
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
  background: #3c98ee;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 30px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  margin-left: 5px;
  position: relative;
  top: 2px;
}

.toggle-switch-on {
  background: #fff;
  box-shadow: inset 0 0 10px 0 #999999; /* тень */
}