<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <title>Vsat</title>
    <script src="/jquery-3.4.1.min.js"></script>
    <!-- <script>
        let stations2 = [[${stations}]];
    </script> -->
    <link rel="stylesheet" type="text/css" href="/style.css">
    
</head>
<body>
    <div class="toolbar"> 
        <footer class="footer">
            <div>
                <span class="toolbar-text">
                    Мониторинг уровня сигнала Vsat станций
                </span> 
            </div>
        </footer>
    </div>
    <div id="list"></div>
    <div class="footer-div"> 
        <footer class="footer">
            <div>
                <a href="https://github.com/sv-smirnov/vsat">
                    <span class="footer-text">
                        ©&nbsp;2023&nbsp; Смирнов С. и Гулиев Т.
                    </span> 
                </a> 
                
            </div>
        </footer>
    </div>
        
    <script src="/actions.js"></script>

    
    </body>
</html>