<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta http-equiv="refresh" content="5" /> -->
    <title>Vsat</title>
    <script src="/jquery-3.4.1.min.js"></script>
    <script src="/actions2.js"></script>
    <!-- <script>
        let stations2 = [[${stations}]];
    </script> -->
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
    
    <!-- <form name="station_form">
        <div>
            <table cellspacing="1" border="1" cellpadding="1">
                <thead>
                <tr>
                    <th>id</th>
                    <th>Название станции</th>
                    <th>IP-адрес</th>
                    <th>EbN0</th>
                    <th>Оптореле</th>
                    <th>Status</th>
                    <th>On/Off</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:each="station : ${stations}">
                <tr>
                    <td><span th:text="${station.id}">id</span></td>
                    <td><span th:text="${station.name}">Название станции</span></td>
                    <td><span th:text="${station.ip}">IP-адрес</span></td>
                    <td><span th:text="${station.value}">EbN0</span></td>
                    <td><span th:text="${station.rele}">Оптореле</span></td>
                    <td><span th:text="${station.status}">Status</span></td>
                    <td><button class="btn.${station.id}">off</button></td>
                </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        </form> -->
    

    <script src="/actions.js"></script>

    
    </body>
</html>